<a href="https://colab.research.google.com/github/sahajiyeva/Data-Science/blob/main/Homework5_SH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Case Intro
Term deposits are a major source of income for a bank. A term deposit is a cash investment held at a financial institution. Your money is invested for an agreed rate of interest over a fixed amount of time, or term. The bank has various outreach plans to sell term deposits to their customers such as email marketing, advertisements, telephonic marketing, and digital marketing.

Telephonic marketing campaigns still remain one of the most effective way to reach out to people. However, they require huge investment as large call centers are hired to actually execute these campaigns. Hence, it is crucial to identify the customers most likely to convert beforehand so that they can be specifically targeted via call.

The data is related to direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe to a term deposit (variable y).

Content
The data is related to the direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed by the customer or not. The data folder contains two datasets:-

Bank.csv: 45,211 rows and 18 columns ordered by date (from May 2008 to November 2010)

Detailed Column Descriptions
bank client data:

1 - age (numeric)

2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
"blue-collar","self-employed","retired","technician","services")

3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)

4 - education (categorical: "unknown","secondary","primary","tertiary")

5 - default: has credit in default? (binary: "yes","no")

6 - balance: average yearly balance, in euros (numeric)

7 - housing: has housing loan? (binary: "yes","no")

8 - loan: has personal loan? (binary: "yes","no")
# related with the last contact of the current campaign:
9 - contact: contact communication type (categorical: "unknown","telephone","cellular")
10 - day: last contact day of the month (numeric)

11 - month: last contact month of year (categorical: "jan", "feb", "mar", …, "nov", "dec")

12 - duration: last contact duration, in seconds (numeric)

# other attributes:
13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)

14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)

15 - previous: number of contacts performed before this campaign and for this client (numeric)

16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

Output variable (desired target):

17 - y - has the client subscribed a term deposit? (binary: "yes","no")

Missing Attribute Values: None

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv('https://raw.githubusercontent.com/ogut77/DataScience/main/data/Bank.csv',sep = ';')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [3]:
print(df.shape)
df.info()
df.isnull().sum()

(45211, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [4]:
#For object check the data 
for cn in df.columns:
  if(df[cn].dtype==object):
    print(df[cn].value_counts())

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64
married     27214
single      12790
divorced     5207
Name: marital, dtype: int64
secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: education, dtype: int64
no     44396
yes      815
Name: default, dtype: int64
yes    25130
no     20081
Name: housing, dtype: int64
no     37967
yes     7244
Name: loan, dtype: int64
cellular     29285
unknown      13020
telephone     2906
Name: contact, dtype: int64
may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: month, dtype: int64
unknown    36959
failure     4901
other       1840
success     1511
Name: poutcome, dtype: int64
no     39922
yes     5289
Name: y, dtype: int64

In [5]:
def Encoder(df):
          from sklearn import preprocessing
          columnsToEncode = list(df.select_dtypes(include=['category','object']))
          le = preprocessing.LabelEncoder()
          for feature in columnsToEncode:
              try:
                  df[feature] = le.fit_transform(df[feature])
              except:
                  print('Error encoding '+feature)
          return df

In [6]:
df=Encoder(df)
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,0,825,0,0,0,17,9,977,3,-1,0,3,1
45207,71,5,0,0,0,1729,0,0,0,17,9,456,2,-1,0,3,1
45208,72,5,1,1,0,5715,0,0,0,17,9,1127,5,184,3,2,1
45209,57,1,1,1,0,668,0,0,1,17,9,508,4,-1,0,3,0
45210,37,2,1,1,0,2971,0,0,0,17,9,361,2,188,11,1,0

In [7]:
y = df['y'] #Output
X = df.drop('y',axis=1)
X

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,0,825,0,0,0,17,9,977,3,-1,0,3
45207,71,5,0,0,0,1729,0,0,0,17,9,456,2,-1,0,3
45208,72,5,1,1,0,5715,0,0,0,17,9,1127,5,184,3,2
45209,57,1,1,1,0,668,0,0,1,17,9,508,4,-1,0,3
45210,37,2,1,1,0,2971,0,0,0,17,9,361,2,188,11,1

In [8]:
from sklearn.model_selection import  train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)

 


Q1)Using  Random Forest,XGBoost, Light GBM and Gradient Boosting Classifier with default parameters (no parameter specifications except random_state) calculate Accuracy on Test data. Which method gives the best accuracy on test data

Q2) Using optuna hyperparmeter optimization technique and 100 trial

 a)find best methods with  parameters  using Cross validation (CV=3) technique for the range of   parameters below. What are the best parameters for the method with highest cross validation accuracy?

"max_depth": range(2, 16), "max_features": range(2, 16)

 b)Evaluate the performance of the  method with highest cross validation accuracy on test data.What is the accuracy value?

In [9]:
#random forest
from sklearn.metrics import accuracy_score,confusion_matrix 
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=17)
rfc.fit(X_train, y_train)
rfc_pred = rfc.predict(X_test)
print('Random Forrest Accuracy: ',accuracy_score(y_test, rfc_pred))

#xgboost
from xgboost import XGBClassifier
xgb = XGBClassifier(random_state=17)
xgb.fit(X_train, y_train)
xgb_pred = xgb.predict(X_test)
print('XGBoost Accuracy: ',accuracy_score(y_test, xgb_pred))

#light gbm
import lightgbm as lgb
lgbm = lgb.LGBMClassifier(random_state=17)
lgbm.fit(X_train, y_train)
print('Light GBM Accuracy: ',accuracy_score(y_test, lgbm.predict(X_test)))

#gradient boosting
from sklearn.ensemble import GradientBoostingClassifier
gbm = GradientBoostingClassifier(random_state=17)
gbm.fit(X_train, y_train)
print('Gradient Boosting Accuracy: ',accuracy_score(y_test, gbm.predict(X_test)))

Random Forrest Accuracy:  0.9025037600636999
XGBoost Accuracy:  0.90020348580023
Light GBM Accuracy:  0.9044501459789437
Gradient Boosting Accuracy:  0.9018844554543042

In [11]:
!pip install optuna

Collecting optuna
  Downloading optuna-2.10.0-py3-none-any.whl (308 kB)
     |████████████████████████████████| 308 kB 4.4 MB/s
Collecting cmaes>=0.8.2
  Downloading cmaes-0.8.2-py3-none-any.whl (15 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from optuna) (1.21.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from optuna) (4.63.0)
Collecting colorlog
  Downloading colorlog-6.6.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.32)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from optuna) (3.13)
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.1)
Collecting alembic
  Downloading alembic-1.7.7-py3-none-any.whl (210 kB)
     |████████████████████████████████| 210 kB 45.8 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (21.3)
Collecting cliff
  Downloading cliff-3.10.1-py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 9.5 MB/s
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->optuna) (3.0.7)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (4.11.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (1.1.2)
Collecting Mako
  Downloading Mako-1.2.0-py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 7.4 MB/s
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic->optuna) (5.4.0)
Collecting stevedore>=2.0.1
  Downloading stevedore-3.5.0-py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 5.9 MB/s
Collecting autopage>=0.4.0
  Downloading autopage-0.5.0-py3-none-any.whl (29 kB)
Collecting cmd2>=1.0.0
  Downloading cmd2-2.4.0-py3-none-any.whl (150 kB)
     |████████████████████████████████| 150 kB 50.8 MB/s
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (3.2.0)
Collecting pbr!=2.1.0,>=2.0.0
  Downloading pbr-5.8.1-py2.py3-none-any.whl (113 kB)
     |████████████████████████████████| 113 kB 46.2 MB/s
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (21.4.0)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (0.2.5)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (3.10.0.2)
Collecting pyperclip>=1.6
  Downloading pyperclip-1.8.2.tar.gz (20 kB)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=1.1.0->optuna) (3.7.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.7/dist-packages (from Mako->alembic->optuna) (2.0.1)
Building wheels for collected packages: pyperclip
  Building wheel for pyperclip (setup.py) ... done
  Created wheel for pyperclip: filename=pyperclip-1.8.2-py3-none-any.whl size=11137 sha256=2898a4467e867d2bfc146e054625f2409d5d419c17623ac0371e8ef0a0e41cb2
  Stored in directory: /root/.cache/pip/wheels/9f/18/84/8f69f8b08169c7bae2dde6bd7daf0c19fca8c8e500ee620a28
Successfully built pyperclip
Installing collected packages: pyperclip, pbr, stevedore, Mako, cmd2, autopage, colorlog, cmaes, cliff, alembic, optuna
Successfully installed Mako-1.2.0 alembic-1.7.7 autopage-0.5.0 cliff-3.10.1 cmaes-0.8.2 cmd2-2.4.0 colorlog-6.6.0 optuna-2.10.0 pbr-5.8.1 pyperclip-1.8.2 stevedore-3.5.0

In [ ]:
import optuna

import sklearn.datasets
import sklearn.ensemble
import sklearn.model_selection
import sklearn.svm

def objective(trial):
    x, y = X_train,y_train

    classifier_name = trial.suggest_categorical("classifier", ["Random Forest","XGBoost", "LightGBM","GradientBoostingClassifier" ])
    if classifier_name == "Random Forest":
         from sklearn.ensemble import RandomForestClassifier
         max_depth = trial.suggest_int("max_depth", 2,16)
         max_features = trial.suggest_int("max_features", 2,16)
         classifier_obj = sklearn.ensemble.RandomForestClassifier(random_state=17,  max_depth=max_depth, max_features=max_features )
        
         

    elif classifier_name == "XGBoost":
         from xgboost import XGBClassifier
         max_depth = trial.suggest_int("max_depth", 2,16)
         max_features = trial.suggest_int("max_features", 2,16)
         classifier_obj = XGBClassifier(random_state=17,  max_depth=max_depth, max_features=max_features )
         
         

    elif classifier_name == "LightGBM":
         import lightgbm as lgb
         max_depth = trial.suggest_int("max_depth", 2,16)
         max_features = trial.suggest_int("max_features", 2,16)
         classifier_obj = lgb.LGBMClassifier(random_state=17,  max_depth=max_depth, max_features=max_features )
        
       
       
    else:
         max_depth = trial.suggest_int("max_depth", 2,16)
         max_features = trial.suggest_int("max_features", 2,16)
         classifier_obj = sklearn.ensemble.GradientBoostingClassifier(random_state=17,  max_depth=max_depth, max_features=max_features )
        
         

    accuracy=sklearn.model_selection.cross_val_score(classifier_obj, x, y, n_jobs=-1, cv=3).mean()
   
    return accuracy


if __name__ == "__main__":
    study = optuna.create_study(direction="maximize")
    study.optimize(objective, n_trials=100)
    print(study.best_trial)
    print(study.best_params)

[I 2022-03-27 19:20:24,789] A new study created in memory with name: no-name-f66d7d1d-a80b-4616-82f3-de95a6168086
[I 2022-03-27 19:20:40,331] Trial 0 finished with value: 0.9046537810330927 and parameters: {'classifier': 'XGBoost', 'max_depth': 7, 'max_features': 13}. Best is trial 0 with value: 0.9046537810330927.
[I 2022-03-27 19:21:13,484] Trial 1 finished with value: 0.9021175316267881 and parameters: {'classifier': 'Random Forest', 'max_depth': 14, 'max_features': 16}. Best is trial 0 with value: 0.9046537810330927.
[I 2022-03-27 19:21:21,220] Trial 2 finished with value: 0.9032382537335307 and parameters: {'classifier': 'Random Forest', 'max_depth': 7, 'max_features': 6}. Best is trial 0 with value: 0.9046537810330927.
[I 2022-03-27 19:21:33,634] Trial 3 finished with value: 0.9034151326742875 and parameters: {'classifier': 'XGBoost', 'max_depth': 9, 'max_features': 4}. Best is trial 0 with value: 0.9046537810330927.
[I 2022-03-27 19:21:40,967] Trial 4 finished with value: 0.9048012840888711 and parameters: {'classifier': 'Random Forest', 'max_depth': 10, 'max_features': 6}. Best is trial 4 with value: 0.9048012840888711.
[I 2022-03-27 19:22:06,036] Trial 5 finished with value: 0.903857532249584 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 12, 'max_features': 6}. Best is trial 4 with value: 0.9048012840888711.
[I 2022-03-27 19:22:10,003] Trial 6 finished with value: 0.898224618892251 and parameters: {'classifier': 'Random Forest', 'max_depth': 11, 'max_features': 2}. Best is trial 4 with value: 0.9048012840888711.
[I 2022-03-27 19:22:11,653] Trial 7 finished with value: 0.9070720911406637 and parameters: {'classifier': 'LightGBM', 'max_depth': 7, 'max_features': 5}. Best is trial 7 with value: 0.9070720911406637.
[I 2022-03-27 19:22:12,533] Trial 8 finished with value: 0.9010263680584213 and parameters: {'classifier': 'LightGBM', 'max_depth': 2, 'max_features': 2}. Best is trial 7 with value: 0.9070720911406637.
[I 2022-03-27 19:22:19,932] Trial 9 finished with value: 0.9029433441673413 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 3, 'max_features': 14}. Best is trial 7 with value: 0.9070720911406637.
[I 2022-03-27 19:22:21,417] Trial 10 finished with value: 0.9081042889736648 and parameters: {'classifier': 'LightGBM', 'max_depth': 16, 'max_features': 10}. Best is trial 10 with value: 0.9081042889736648.
[I 2022-03-27 19:22:22,904] Trial 11 finished with value: 0.9081042889736648 and parameters: {'classifier': 'LightGBM', 'max_depth': 16, 'max_features': 10}. Best is trial 10 with value: 0.9081042889736648.
[I 2022-03-27 19:22:24,391] Trial 12 finished with value: 0.9081042889736648 and parameters: {'classifier': 'LightGBM', 'max_depth': 16, 'max_features': 10}. Best is trial 10 with value: 0.9081042889736648.
[I 2022-03-27 19:22:25,863] Trial 13 finished with value: 0.9081042889736648 and parameters: {'classifier': 'LightGBM', 'max_depth': 16, 'max_features': 9}. Best is trial 10 with value: 0.9081042889736648.
[I 2022-03-27 19:22:27,356] Trial 14 finished with value: 0.9079273160968748 and parameters: {'classifier': 'LightGBM', 'max_depth': 14, 'max_features': 10}. Best is trial 10 with value: 0.9081042889736648.
[I 2022-03-27 19:22:28,843] Trial 15 finished with value: 0.9079273160968748 and parameters: {'classifier': 'LightGBM', 'max_depth': 14, 'max_features': 12}. Best is trial 10 with value: 0.9081042889736648.
[I 2022-03-27 19:22:30,328] Trial 16 finished with value: 0.9081042889736648 and parameters: {'classifier': 'LightGBM', 'max_depth': 16, 'max_features': 8}. Best is trial 10 with value: 0.9081042889736648.
[I 2022-03-27 19:22:31,796] Trial 17 finished with value: 0.9089300180155221 and parameters: {'classifier': 'LightGBM', 'max_depth': 13, 'max_features': 8}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:22:51,698] Trial 18 finished with value: 0.902176523455496 and parameters: {'classifier': 'XGBoost', 'max_depth': 13, 'max_features': 8}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:23:19,337] Trial 19 finished with value: 0.9018815669212902 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 12, 'max_features': 8}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:23:20,817] Trial 20 finished with value: 0.9078094002821494 and parameters: {'classifier': 'LightGBM', 'max_depth': 9, 'max_features': 8}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:23:22,318] Trial 21 finished with value: 0.9069541492325955 and parameters: {'classifier': 'LightGBM', 'max_depth': 15, 'max_features': 7}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:23:23,808] Trial 22 finished with value: 0.9069541492325955 and parameters: {'classifier': 'LightGBM', 'max_depth': 15, 'max_features': 11}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:23:25,270] Trial 23 finished with value: 0.9089300180155221 and parameters: {'classifier': 'LightGBM', 'max_depth': 13, 'max_features': 12}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:23:26,729] Trial 24 finished with value: 0.9076324143586882 and parameters: {'classifier': 'LightGBM', 'max_depth': 12, 'max_features': 15}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:23:28,202] Trial 25 finished with value: 0.9089300180155221 and parameters: {'classifier': 'LightGBM', 'max_depth': 13, 'max_features': 12}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:23:29,690] Trial 26 finished with value: 0.9081042785363277 and parameters: {'classifier': 'LightGBM', 'max_depth': 10, 'max_features': 12}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:24:11,584] Trial 27 finished with value: 0.9013507500549566 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 13, 'max_features': 13}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:24:27,543] Trial 28 finished with value: 0.9033561486735823 and parameters: {'classifier': 'XGBoost', 'max_depth': 11, 'max_features': 12}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:24:47,004] Trial 29 finished with value: 0.902176523455496 and parameters: {'classifier': 'XGBoost', 'max_depth': 13, 'max_features': 14}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:24:48,195] Trial 30 finished with value: 0.9061873598327613 and parameters: {'classifier': 'LightGBM', 'max_depth': 4, 'max_features': 13}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:24:49,687] Trial 31 finished with value: 0.9079273160968748 and parameters: {'classifier': 'LightGBM', 'max_depth': 14, 'max_features': 11}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:24:51,174] Trial 32 finished with value: 0.9069541492325955 and parameters: {'classifier': 'LightGBM', 'max_depth': 15, 'max_features': 9}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:24:52,687] Trial 33 finished with value: 0.9089300180155221 and parameters: {'classifier': 'LightGBM', 'max_depth': 13, 'max_features': 7}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:25:10,456] Trial 34 finished with value: 0.904860244605568 and parameters: {'classifier': 'Random Forest', 'max_depth': 11, 'max_features': 16}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:25:11,958] Trial 35 finished with value: 0.9078094002821494 and parameters: {'classifier': 'LightGBM', 'max_depth': 9, 'max_features': 4}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:25:21,821] Trial 36 finished with value: 0.9054795779176406 and parameters: {'classifier': 'Random Forest', 'max_depth': 13, 'max_features': 7}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:25:23,328] Trial 37 finished with value: 0.9084287231568848 and parameters: {'classifier': 'LightGBM', 'max_depth': 8, 'max_features': 11}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:25:41,048] Trial 38 finished with value: 0.9026483798051328 and parameters: {'classifier': 'XGBoost', 'max_depth': 12, 'max_features': 5}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:25:45,859] Trial 39 finished with value: 0.9003775205666552 and parameters: {'classifier': 'Random Forest', 'max_depth': 5, 'max_features': 7}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:26:05,641] Trial 40 finished with value: 0.9039165084222865 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 10, 'max_features': 9}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:26:07,136] Trial 41 finished with value: 0.9084287231568848 and parameters: {'classifier': 'LightGBM', 'max_depth': 8, 'max_features': 11}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:26:08,597] Trial 42 finished with value: 0.9070720911406637 and parameters: {'classifier': 'LightGBM', 'max_depth': 7, 'max_features': 14}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:26:10,088] Trial 43 finished with value: 0.9084287231568848 and parameters: {'classifier': 'LightGBM', 'max_depth': 8, 'max_features': 12}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:26:11,563] Trial 44 finished with value: 0.9084877045482559 and parameters: {'classifier': 'LightGBM', 'max_depth': 11, 'max_features': 6}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:26:13,046] Trial 45 finished with value: 0.9084877045482559 and parameters: {'classifier': 'LightGBM', 'max_depth': 11, 'max_features': 5}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:26:14,533] Trial 46 finished with value: 0.9076324143586882 and parameters: {'classifier': 'LightGBM', 'max_depth': 12, 'max_features': 6}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:26:16,003] Trial 47 finished with value: 0.9089300180155221 and parameters: {'classifier': 'LightGBM', 'max_depth': 13, 'max_features': 3}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:26:17,509] Trial 48 finished with value: 0.9079273160968748 and parameters: {'classifier': 'LightGBM', 'max_depth': 14, 'max_features': 2}. Best is trial 17 with value: 0.9089300180155221.
[I 2022-03-27 19:26:18,982] Trial 49 finished with value: 0.9089300180155221 and parameters: {'classifier': 'LightGBM', 'max_depth': 13, 'max_features': 3}. Best is trial 17 with value: 0.9089300180155221.

In [ ]:
import lightgbm as lgb
lgbm = lgb.LGBMClassifier(random_state=17,**study.best_params)
lgbm.fit(X_train, y_train)
print(accuracy_score(y_test, lgbm.predict(X_test)))

For Q3 and Q4 ,use the following data.

In [8]:
dr=pd.read_csv('https://raw.githubusercontent.com/ogut77/DataScience/main/data/diamond.csv')
dr

,Carat Weight,Cut,Color,Clarity,Polish,Symmetry,Report,Price
0,1.10,Ideal,H,SI1,VG,EX,GIA,5169
1,0.83,Ideal,H,VS1,ID,ID,AGSL,3470
2,0.85,Ideal,H,SI1,EX,EX,GIA,3183
3,0.91,Ideal,E,SI1,VG,VG,GIA,4370
4,0.83,Ideal,G,SI1,EX,EX,GIA,3171
...,...,...,...,...,...,...,...,...
5995,1.03,Ideal,D,SI1,EX,EX,GIA,6250
5996,1.00,Very Good,D,SI1,VG,VG,GIA,5328
5997,1.02,Ideal,D,SI1,EX,EX,GIA,6157
5998,1.27,Signature-Ideal,G,VS1,EX,EX,GIA,11206
5999,2.19,Ideal,E,VS1,EX,EX,GIA,30507

In [9]:
def Encoder(df):
          from sklearn import preprocessing
          columnsToEncode = list(df.select_dtypes(include=['category','object']))
          le = preprocessing.LabelEncoder()
          for feature in columnsToEncode:
              try:
                  df[feature] = le.fit_transform(df[feature])
              except:
                  print('Error encoding '+feature)
          return df

In [10]:
dr=Encoder(dr)
dr

      Carat Weight  Cut  Color  Clarity  Polish  Symmetry  Report  Price
0             1.10    2      4        2       3         0       1   5169
1             0.83    2      4        3       2         2       0   3470
2             0.85    2      4        2       0         0       1   3183
3             0.91    2      1        2       3         3       1   4370
4             0.83    2      3        2       0         0       1   3171
...            ...  ...    ...      ...     ...       ...     ...    ...
5995          1.03    2      0        2       0         0       1   6250
5996          1.00    4      0        2       3         3       1   5328
5997          1.02    2      0        2       0         0       1   6157
5998          1.27    3      3        3       0         0       1  11206
5999          2.19    2      1        3       0         0       1  30507

[6000 rows x 8 columns]

In [11]:
y = dr['Price'] #Output
X = dr.drop('Price',axis=1)
X

      Carat Weight  Cut  Color  Clarity  Polish  Symmetry  Report
0             1.10    2      4        2       3         0       1
1             0.83    2      4        3       2         2       0
2             0.85    2      4        2       0         0       1
3             0.91    2      1        2       3         3       1
4             0.83    2      3        2       0         0       1
...            ...  ...    ...      ...     ...       ...     ...
5995          1.03    2      0        2       0         0       1
5996          1.00    4      0        2       3         3       1
5997          1.02    2      0        2       0         0       1
5998          1.27    3      3        3       0         0       1
5999          2.19    2      1        3       0         0       1

[6000 rows x 7 columns]

In [12]:
from sklearn.model_selection import  train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)

In [ ]:
def evalmetric(y,ypred):
 import numpy as np
 e = y - ypred 
 mse_f = np.mean(e**2)
 rmse_f = np.sqrt(mse_f)
 mae_f = np.mean(abs(e))
 mape_f = 100*np.mean(abs(e/y))
 r2_f = 1-(sum(e**2)/sum((y-np.mean(y))**2))
 print("MSE:", mse_f)
 print("RMSE:", rmse_f)
 print("MAE:",mae_f)
 print("MAPE:",mape_f)
 print("R-Squared:", r2_f)

In [ ]:
#linear regression
import sklearn
from sklearn.linear_model import LinearRegression
dr_lm = LinearRegression()
dr_lm.fit(X_test, y_test)
predLR=dr_lm.predict(X_test)
evalmetric(y_test,predLR)

#decision tree
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor(random_state=17)
dtr.fit(X_train,y_train)
y_predDT = dtr.predict(X_test)
evalmetric(y_test,y_predDT)

#random forest
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=17)
rfr.fit(X_train,y_train)
y_predRF = rfr.predict(X_test)
evalmetric(y_test,y_predRF)

#xgboost
from xgboost import XGBRegressor
xgr = XGBRegressor(random_state=17)
xgr.fit(X_train, y_train)
y_predxgb = xgr.predict(X_test)
evalmetric(y_test,y_predxgb)

#light gbm
from time import time
import lightgbm as lgb
t0 = time()
lgr = lgb.LGBMRegressor(random_state=17)
lgr.fit(X_train, y_train)
y_predlgbm = lgr.predict(X_test)
evalmetric(y_test,y_predlgbm)

#gradient boosting
from sklearn.ensemble import GradientBoostingRegressor
gbr = GradientBoostingRegressor(random_state=17)
gbr.fit(X_train, y_train)
y_predgb = gbr.predict(X_test)
evalmetric(y_test,y_predgb)

Q3)Using Linear Regression,Decison Tree Random Forest,XGBoost, Light GBM and Gradient Boosting Classifier with default parameters (no parameter specifications except random_state) calculate R2 statistics on test data. Which method gives the best accuracy on test data

Q4) Using optuna hyperparmeter optimization technique (100 trial)  with Random Forest,XGBoost, Light GBM and Gradient Boosting Regressor

a)find best methods with  parameters  using Cross validation (CV=3) technique for the range of   parameters below. What are the best parameters for the method with highest cross validation R2?

"max_depth": range(2, 7), "max_features": range(2, 7)

 b)Evaluate the performance of the  method with highest cross validation R2 on test data. What is the R2 value?

In [ ]:
import optuna

import sklearn.datasets
import sklearn.ensemble
import sklearn.model_selection
import sklearn.svm

def objective(trial):
    x, y = X_train,y_train

    regressor_name = trial.suggest_categorical("regressor", ["GradientBoosting", "XGBoost","LightGBM","RandomForest"])
    if regressor_name == "GradientBoosting":
         max_depth = trial.suggest_int("max_depth", 2,7)
         max_features = trial.suggest_int("max_features", 2,7)
         regressor_obj = sklearn.ensemble.GradientBoostingRegressor(random_state=17,  max_depth=max_depth, max_features=max_features )
    
    elif regressor_name == "XGBoost":
         from xgboost import XGBRegressor
         max_depth = trial.suggest_int("max_depth", 2,7)
         max_features = trial.suggest_int("max_features", 2,7)
         regressor_obj = XGBRegressor(random_state=17,  max_depth=max_depth, max_features=max_features )
        
         

    elif regressor_name == "LightGBM":
         import lightgbm as lgb
         max_depth = trial.suggest_int("max_depth", 2,7)
         max_features = trial.suggest_int("max_features", 2,7)
         regressor_obj = lgb.LGBMRegressor(random_state=17,  max_depth=max_depth, max_features=max_features )
              
       
   
    else:
         max_depth = trial.suggest_int("max_depth", 2,7)
         max_features = trial.suggest_int("max_features", 2,7)
         regressor_obj = sklearn.ensemble.RandomForestRegressor(random_state=17,  max_depth=max_depth, max_features=max_features )

     

    r2=sklearn.model_selection.cross_val_score(regressor_obj, x, y, n_jobs=-1, cv=3).mean()
   
    return r2


if __name__ == "__main__":
    study = optuna.create_study(direction="maximize")
    study.optimize(objective, n_trials=100)
    print(study.best_trial)
    print(study.best_params)

In [ ]:
gbr = GradientBoostingRegressor(random_state=17,max_depth=5,max_features=6)
gbr.fit(X_train, y_train)
y_predgb = gbr.predict(X_test)
evalmetric(y_test,y_predgb)